
body {
  background-color: #F8F8F8;
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.2em;
  margin: 15px;
}

h1, p {
  color: #333;
}

#sample_container_id {
  width: 100%;
  height: 400px;
  position: relative;
  border: 1px solid #ccc;
  background-color: #fff;
}

#sample_text_id {
  font-size: 24pt;
  text-align: center;
  margin-top: 140px;
  -webkit-user-select: none;
  user-select: none;
}


.cuerpo{
	margin: 20px auto 0px auto;
	width:1000px;
	height:528px;
	background-color: black;
}

.cabecera{
	width:100%;
	height:150px;
	/*background-color: #5A5A5A;*/
	background-color: #9A9A9A;
	background-image:url("imagenes/fondo_cabecera.png");
	float:left;
}

#izq{
	width:20%;
	height:328px;
	background-color: #D4D3D3;
	float:left;
	clear:left;
}

.center{
	width:43%;
	height:328px;
	background-color: #F4F4F4;
	float:left;
}

.der{
	width:37%;
	height:328px;
	background-color: #F4F4F4;
	float:left;
}

.pie{
	width:100%;
	height:50px;
	background-color: #A5A6A6;
	float:left;
	clear:left;
}







.opcion{
	width:120px;
	height:30px;
	border-radius:2px 4px 2px 4px;
	font-size:20px;
	display:block;
	color:white;
	text-align:center;
	background-color: #ADADAD;
	margin:7px 6px 7px 40px;
	transition:all 0.2s linear;
	-webkit-transition:all 0.2s linear;
	-moz-transition:all 0.2s linear;
	-o-transition:all 0.2s linear;
	cursor:pointer;
} 
	.opcion:hover{
		width:140px;
		height:40px;
		border-radius:10px;
		display:block;
		font-size:25px;
		color:#666666;
		text-align:center;
		background-color:#2BD4C2;
		margin:3px 6px 7px 30px;
		cursor:pointer;
	}
	
#ddCpu{
	width:200px;
	height:200px;
	position:relative;
	top:-100px;
	left:135px;
	background-color:#666666;
	text-align:Center;
	color:white;
	
}
#ddMem{
	width:200px;
	height:100px;
	position:relative;
	top:-100px;
	left:135px;
	background-color:#E6FAFA;
	text-align:Center;
}
#dGraficos{
	
}
#dGlobal{
	
}


#ventana1{
	width: 430px;
	height:328px;
	position:absolute;
	top:150px;
	left:400px;
	border-radius: 10px;
	background-color: #FFE4B5;
	background-image: url("imagenes/pc1.png");

}

#ventana2{
	width: 430px;
	height:328px;
	position:absolute;
	top:150px;
	left:400px;
	border-radius: 10px;
	background-color: #FFE4B5;
	background-image: url("imagenes/pc2.png");

}

#x{
	width: 30px;
	height: 30px;
	border-radius: 15px;
	border: 1px solid black;
	cursor: pointer;
	background-image:url("imagenes/x.png");
}

#dResul{
	width:40px;
	height:40px;
	border-radius:20px;
	font-size:30px;
	margin:30px;
	color: white;
	text-align:center;
	background-color:blue;
	
}
#dCargando{
	width:199px;
	height:104px;
	margin:30px 0px 0px 86px;
	border-radius:20px;
	background-image:url('imagenes/cargando.gif')
}

#dGrafico{
	width:400px;
	height:250px;
	margin:10px 0px 0px 10px;
	border-radius:20px;
	background-color:#F0F6D0;
}